<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body class="{% block project %}{% endblock %}">
  <div class="noise">
    <div class="container">
      <header>
        <ul>
          {% for project in projects %}
          <li><a href="http://{{project.link}}" data-toggle="tooltip" title="{{project.description}}" data-html="true" data-placement="bottom">{{project.name}}</a></li>
          {% endfor %}
        </ul>
      </header>
      <article>
        {% block content %}
        {% endblock %}
        </article>
      </div>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
  </html>
