<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body class="{% block project %}{% endblock %}">
  <div class="noise">
    <div class="container">
      <header>
        <ul>
          {% for project in projects %}
          <li><a href="http://{{project.link}}" data-toggle="tooltip" title="{{project.description}}" data-html="true" data-placement="bottom">{{project.name}}</a></li>
          {% endfor %}
        </ul>
      </header>
      <article>
        {% block content %}
        {% endblock %}
        <section class="footer">
          <div class="title">
            <h3>About</h3>
          </div>
          <div class="description">
            Made by Nicholas Frota, standing on the shoulder of Open Source giants.
 <div class="social">
               <a href="mailto:info@nicholasfrota.com">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="http://twitter.com/nonlinear">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="http://github.com/nonlinear">
                <i class="fa fa-github"></i>
              </a>
              <a href="http://instagram.com/nonlinear">
                <i class="fa fa-instagram"></i>
              </a>
              <a href=" http://nonlinear.nyc">
                <i class="fa fa-globe"></i>
              </a>
              <a href="http://linkedin.com/in/nicholasfrota">
                <i class="fa fa-linkedin"></i>
              </a>
 </div>
            </div>
          </section>
        </article>
      </div>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
  </html>
