{% extends "layout.html" %}
{% block project %}tangle{% endblock %}
{% block content %}
<section class="header">

  <div class="gradient"></div>
  <div class="title">
  <h3>{{project.title}}/</h3>
  <br>
    <h1>tangle</h1>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat atque provident quae eaque neque nam quidem alias quas nihil nemo, quisquam omnis nobis, ducimus necessitatibus earum. Eaque magni dolor reiciendis.</p>
    <div class="actions">
      <a href="#" class="btn">Lorem Ipsum</a>
    <a href="#" class="btn">Lorem Ipsum</a>
    </div>
  </div>
</section>
<section>
  <div class="title">
    <h1>Toggle</h1>
  </div>
  <div class="description">

      <a href="#" class="btn toggle red-toggle">Red toggle</a>
      <a href="#" class="btn toggle blue-toggle">Blue toggle</a>
      <a href="#" class="btn toggle orange-toggle">Orange toggle</a>
      <hr>

 <div class="red-target">
  This is the red object <span class="text"></span> <tt>active</tt> class
 </div>
  <div class="orange-target">
   This is the orange object <span class="text"></span> <tt>active</tt> class
 </div>
   <div class="red-target">
  This is  another red object <span class="text"></span> <tt>active</tt> class
 </div>
  <div class="blue-target">
   This is the blue object <span class="text"></span> <tt>active</tt> class
 </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quam impedit nisi assumenda quod eaque saepe, fuga quo accusamus suscipit quaerat distinctio dolores, dignissimos necessitatibus! Illum quos similique, optio architecto.</p>
    <p>Non itaque deserunt illum dolore porro molestiae necessitatibus omnis provident laboriosam, a inventore tempora, harum, vitae veniam. Possimus totam maiores, vero explicabo odio ipsum esse hic incidunt vel. Ab, illum.</p>
     <div class="actions">
    <a href="#" class="btn">Lorem Ipsum</a>
    </div>
  </div>
</section>
<section>
  <div class="title">
    <h1>Group</h1>
  </div>
  <div class="description">
    <a href="#" class="bbb-group-1">trigger 1</a>
  <a href="#" class="bbb-group-2">trigger 2</a>
  <a href="#" class="bbb-group-3">trigger 3</a>
  <p class="bbb-target-1 bbb-active">menu 1</p>
  <p class="bbb-target-2">menu 2</p>
  <p class="bbb-target-3">menu 3</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nostrum facere neque sequi, dolorem odit sit ducimus delectus recusandae quia.</p>
    <p>Nisi assumenda iste quam perferendis minima. Voluptatum dicta aliquid amet quas, accusamus corrupti ullam ratione vel accusantium eius, obcaecati deleniti!</p>
     <div class="actions">
      <a href="#" class="btn">Lorem Ipsum</a>
    <a href="#" class="btn">Lorem Ipsum</a>
    </div>
  </div>
</section>
<section class="footer">
  <div class="title">
    <h2>Team</h2>
  </div>
  <div class="description">
  <div class="team">
    {% include "partials/nicholas.html" %}
    {% include "partials/josh.html" %}
  </div>
  </div>
</div>
</section>
{% endblock %}
