{% extends "layout.html" %}
{% block project %}snippets{% endblock %}
{% block content %}
<section class="header">
  <div class="gradient"></div>
  <div class="title">
    <h3>{{project.title}}/</h3>
    <br>
    <h1>snippets</h1>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat atque provident quae eaque neque nam quidem alias quas nihil nemo, quisquam omnis nobis, ducimus necessitatibus earum. Eaque magni dolor reiciendis.</p>
    <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Installation" class="btn">Installation and Usage</a>
    </div>
  </div>
</section>
{% endblock %}
