<hr>
<h3>More of Serval Chat</h3>

<div class="grid three menu">
  <div>
     <li><a href="/serval-onboarding" class="pending"><i class="fa fa-lock"></i>1. Onboarding</a></li>
  <li><a href="/serval-permissions" class="pending"><i class="fa fa-lock"></i>2. Permissions</a></li>
  <li><a href="/serval-conversation"><i class="fa fa-unlock-alt"></i>3. Conversation</a></li>
   <li><a href="/serval-nearby" class="pending"><i class="fa fa-lock"></i>4. Nearby</a></li>
  </div>
  <div>

  <li><a href="/serval-security" class="pending"><i class="fa fa-lock"></i>5. Security</a></li>
  <li><a href="/serval-scan" class="pending"><i class="fa fa-lock"></i>6. Scan</a></li>
   <li><a href="/serval-identity" class="pending"><i class="fa fa-lock"></i>7. Identity</a></li>
  <li><a href="/serval-marketplace" class="pending"><i class="fa fa-lock"></i>8. Marketplace</a></li>
  </div>
  <div>
    <h4><a href="http://www.servalproject.org" target="_blank">The Serval Project</a></h4>
    <p>Communicate anytime, anywhere, privately.</p>
  </div>
</div>
