*, *:after, *:before { 
	@include box;
}
$header-big: 100px;
$header-small: 40px;
body {
  margin-top: $header-big;
  @include trans;
  @include but(trans) {
    margin-top: $header-small;
  }
}
.m-scene {
	background-color: #eee;
}


a.logo {
  .title, .subtitle {
    white-space: nowrap;
    @include trans;
  }
  .title {
    font-size: 30px;
    margin-top: 7px;
    @include but(trans) {
      margin-top: -7px;
      font-size: 25px;
    }
  }
  .subtitle {
    font-size: 20px;
    margin-top: -7px;
    @include but(trans) {
    font-size: 17px;
     @include opacity(0);
   }
 }
 &:hover  {
  text-decoration: none;
}
float: left;
}
.symbol {
  background-color: lighten($c3, 20%);
  display: inline-block;
  float: left;
  margin-right: 5px;
  @include square(80px);
  @include radius(50%);
  @include trans;
  &:before {
    content: "logo";
    color: white;
    text-align: center;
    displaY: block;
    margin-top: 32px;
    @include but(trans) {
      margin-top: 15px;
    }
  }
  @include but(trans) {
    @include square(50px); 
    margin-top: -15px;  
  margin-right: 3px;
  }
}
header {
  font-family: $f1;
  padding: 10px 0;
  border-bottom: solid 1px $c3;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: $header-big;
  @include trans;
  top: 0;
  color: $c1;
  @include but(trans) {
   height: $header-small;
   background-color: rgba(255, 255, 255, .9);
 }
 a {
  color: $c1;
  @include trans;
  &:hover {
    color: $c2;
  }
}
ul {
  @include reset(list);
  float: right;
  margin-top: -30px;
  @include trans;
  html.trans & {
    margin-top: 0;
  }
  li {
    display: inline-block;
    &:not(:first-of-type):before {
      content: "/ ";
    }
  }
}
}
.hero {
  border-bottom: solid 1px $c3;
  margin-bottom: 3px;
  .container {
    background-image: url(../images/hero.gif);
    height: 400px;
    -webkit-background-size: 600px 400px;
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: center center;
    @include trans;
    @media screen and (max-width: $iphone5-max) {
      height: 220px;
      -webkit-background-size: 300px 200px;
      background-size: 300px 200px;
    }
  }
}


.m-scene {
  .scene_element {
    &--fadein {
      @include animate(fadeIn);
    }
  }
  &.is-exiting .scene_element {
    @include reverse; 
    &--noexiting {
      @include reverse;
    }
  }
}