a.logo {
  .title, .subtitle {
    white-space: nowrap;
    @include trans;
  }
  .title {
    font-size: 30px;
    margin-top: 7px;
    @media screen and (min-width: ($iphone5-max + 1)) {
      @include but(trans) {
        margin-top: -7px;
        font-size: 25px;
      }
    }
    @media screen and (max-width: $iphone5-max) {
      @include but(trans) {
       margin-top: 0px;
     }
   }
 }
 .subtitle {
  font-size: 20px;
  margin-top: -7px;
  @media screen and (min-width: ($iphone5-max + 1)) {
    @include but(trans) {
      font-size: 17px;
      @include opacity(0);
    }
  }
}
&:hover  {
  text-decoration: none;
}
float: left;
}
.symbol {
  background-color: lighten($c3, 20%);
  display: inline-block;
  float: left;
  margin-right: 5px;
  @include square(80px);
  @include radius(50%);
  @include trans;
  &:before {
    content: "logo";
    color: white;
    text-align: center;
    displaY: block;
    margin-top: 32px;
    @media screen and (min-width: ($iphone5-max + 1)) {
      @include but(trans) {
        margin-top: 15px;
      }
    }
  }
  @media screen and (min-width: ($iphone5-max + 1)) {
    @include but(trans) {
      @include square(50px); 
      margin-top: -15px;  
      margin-right: 3px;
    }
  }
}