$font-title: Adam;                               // Fonts
$font-text: "HelveticaNeue-Light", 
"Helvetica Neue Light", 
"Helvetica Neue", 
Helvetica, Arial, 
"Lucida Grande", sans-serif;        // text font
$font-mono: "Courier New", Courier, monospace;  // code font
$gap-1: 10px;                               // Gap
$color-bg: #F9F3E1;                            // bg color
$color-primary: darken($color-bg, 60%);                   // text color
$color-secondary: darken($color-primary, 20%);                   // accent color
$color-tertiary: darken($color-bg, 60%);                   // color 3
$c4: green;                              // color 4
$c5: yellow;                             // color 5

/* gap variations */

$gap-2: ($gap-1 * 2);
$gap-3: ($gap-1 * 3);
$gap-4: ($gap-1 * 4);
$gap-5: ($gap-1 * 5);
$gap-6: ($gap-1 * 6);
$gap-7: ($gap-1 * 7);
$gap-8: ($gap-1 * 8);
$gap-9: ($gap-1 * 9);
$gap-10: ($gap-1 * 10);
$gap-11: ($gap-1 * 11);
$gap-12: ($gap-1 * 12);

/* color variations
to lighten, use color#l#
to darken, use color#dark# */

$color-bgl1: lighten($color-bg, 10%);
$color-bgl2: lighten($color-bg, 20%);
$color-bgl3: lighten($color-bg, 30%);
$color-bgl4: lighten($color-bg, 40%);
$color-bgl5: lighten($color-bg, 50%);
$color-bgl6: lighten($color-bg, 60%);
$color-bgd1: darken($color-bg,  10%);
$color-bgd2: darken($color-bg,  20%);
$color-bgd3: darken($color-bg,  30%);
$color-bgd4: darken($color-bg,  40%);
$color-bgd5: darken($color-bg,  50%);
$color-bgd6: darken($color-bg,  60%);
$color-primaryl1: lighten($color-primary, 10%);
$color-primaryl2: lighten($color-primary, 20%);
$color-primaryl3: lighten($color-primary, 30%);
$color-primaryl4: lighten($color-primary, 40%);
$color-primaryl5: lighten($color-primary, 50%);
$color-primaryl6: lighten($color-primary, 60%);
$color-primaryl7: lighten($color-primary, 70%);
$color-primaryl8: lighten($color-primary, 80%);
$color-primaryd1: darken($color-primary,  10%);
$color-primaryd2: darken($color-primary,  20%);
$color-primaryd3: darken($color-primary,  30%);
$color-primaryd4: darken($color-primary,  40%);
$color-primaryd5: darken($color-primary,  50%);
$color-primaryd6: darken($color-primary,  60%);
$color-secondaryl1: lighten($color-secondary, 10%);
$color-secondaryl2: lighten($color-secondary, 20%);
$color-secondaryl3: lighten($color-secondary, 30%);
$color-secondaryl4: lighten($color-secondary, 40%);
$color-secondaryl5: lighten($color-secondary, 50%);
$color-secondaryl6: lighten($color-secondary, 60%);
$color-secondaryd1: darken($color-secondary,  10%);
$color-secondaryd2: darken($color-secondary,  20%);
$color-secondaryd3: darken($color-secondary,  30%);
$color-secondaryd4: darken($color-secondary,  40%);
$color-secondaryd5: darken($color-secondary,  50%);
$color-secondaryd6: darken($color-secondary,  60%);
$color-tertiaryl1: lighten($color-tertiary, 10%);
$color-tertiaryl2: lighten($color-tertiary, 20%);
$color-tertiaryl3: lighten($color-tertiary, 30%);
$color-tertiaryl4: lighten($color-tertiary, 40%);
$color-tertiaryl5: lighten($color-tertiary, 50%);
$color-tertiaryl6: lighten($color-tertiary, 60%);
$color-tertiaryd1: darken($color-tertiary,  10%);
$color-tertiaryd2: darken($color-tertiary,  20%);
$color-tertiaryd3: darken($color-tertiary,  30%);
$color-tertiaryd4: darken($color-tertiary,  40%);
$color-tertiaryd5: darken($color-tertiary,  50%);
$color-tertiaryd6: darken($color-tertiary,  60%);
$c4l1: lighten($c4, 10%);
$c4l2: lighten($c4, 20%);
$c4l3: lighten($c4, 30%);
$c4l4: lighten($c4, 40%);
$c4l5: lighten($c4, 50%);
$c4l6: lighten($c4, 60%);
$c4d1: darken($c4,  10%);
$c4d2: darken($c4,  20%);
$c4d3: darken($c4,  30%);
$c4d4: darken($c4,  40%);
$c4d5: darken($c4,  50%);
$c4d6: darken($c4,  60%);
$c5l1: lighten($c5, 10%);
$c5l2: lighten($c5, 20%);
$c5l3: lighten($c5, 30%);
$c5l4: lighten($c5, 40%);
$c5l5: lighten($c5, 50%);
$c5l6: lighten($c5, 60%);
$c5d1: darken($c5,  10%);
$c5d2: darken($c5,  20%);
$c5d3: darken($c5,  30%);
$c5d4: darken($c5,  40%);
$c5d5: darken($c5,  50%);
$c5d6: darken($c5,  60%);

/* breakpoints */

$iphone5-min:      320px;
$iphone6-min:      375px;
$iphone2G4S-max:   480px;
$iphone6plus-min:  540px;
$iphone5-max:      568px;
$iphone6-max:      667px;
$ipad-min:         768px;
$iphone6plus-max:  960px;
$screen-lg:        1200px;
$ipad-max:         1024px;
$device:           $ipad-max;

/* scroll animation */

$nav-big: 100px;
$nav-small: $gap-4;
$margin: $gap-3;

$margin-big: $gap-3;
$internal-big: $gap-2;
$squeeze: 0;

/* base rules */

h1, h2, h3, h4 {
	font-family: $font-title;
	bg-color: $color-bg;
	color: $color-primary;
}
body {
	font-family: $font-text;
	background-color: $color-bg;
	font-weight: 300;
	margin-top: $nav-big;
	@include trans;
	@include but(trans) {
		margin-top: $nav-small;
	}
}
:focus {
	outline-color: transparent;
	outline-style: none;
}
a {
	color: $color-secondary;
	@include trans;
}
h1, h2, h3, h4 {
	$font-family: $font-title;
	font-weight: normal;
}
.hidden {
	display: none;
}
*, *:after, *:before { 
	@include box;
}
.container {
	max-width: 750px;
}