<li><a href="http://viget.com/inspire/responsive-logos-part-2-making-logos-truly-responsive-with-svg">Responsive Logos, Part 2: Making Logos Truly Responsive with Inline SVG | Viget</a></li>
<li><a href="https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759">Animating CSS Gradients, using only CSS — Medium</a></li>
<li><a href="http://davidecalignano.it/css-trick-to-reproduce-glimpse-on-native-scroll/">Css trick to reproduce glimpse on native scroll</a></li>
<li><a href="http://stackoverflow.com/questions/5147177/notepad-code-snippets-manager">Notepad++ code snippets manager - Stack Overflow</a></li>
<li><a href="http://codepen.io/noahblon/blog/coloring-svgs-in-css-background-images">Coloring SVGs in CSS Background Images by Noah Blon on CodePen</a></li>
<li><a href="http://blogs.adobe.com/dreamweaver/2015/04/an-introduction-to-graphical-effects-in-css.html#">An Introduction To Graphical Effects in CSS</a></li>
<li><a href="http://dancort.es/web-design/2015/05/17/how-to-make-carousel-only-html-css-no-javascript.html#target-item-3">How to make a carousel using only HTML and CSS (no JavaScript required!)</a></li>
<li><a href="http://webdesign.tutsplus.com/tutorials/a-simple-mixin-alternative-to-standard-css-grids--webdesign-16958">A Simple Mixin Alternative to Standard CSS Grids - Tuts+ Web Design Tutorial</a></li>
<li><a href="https://css-tricks.com/using-pinterest-data-attributes-and-meta-tags/?utm_source=dlvr.it&utm_medium=twitter">Using Pinterest Data Attributes and Meta Tags | CSS-Tricks</a></li>
<li><a href="http://blog.gospodarets.com/css-scroll-snap/">Native CSS Scroll Snap Points</a></li>
<li><a href="http://www.sitepoint.com/accessible-footnotes-css/"></a></li>
