<li><a href="http://viget.com/inspire/responsive-logos-part-2-making-logos-truly-responsive-with-svg">Responsive Logos, Part 2: Making Logos Truly Responsive with Inline SVG | Viget</a></li>
<li><a href="https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759">Animating CSS Gradients, using only CSS — Medium</a></li>
<li><a href="http://davidecalignano.it/css-trick-to-reproduce-glimpse-on-native-scroll/">Css trick to reproduce glimpse on native scroll</a></li>
<li><a href="http://stackoverflow.com/questions/5147177/notepad-code-snippets-manager">Notepad++ code snippets manager - Stack Overflow</a></li>
<li><a href="http://codepen.io/noahblon/blog/coloring-svgs-in-css-background-images">Coloring SVGs in CSS Background Images by Noah Blon on CodePen</a></li>
