<li><a href="http://apps.stupid-studio.com/">The Sprite Generator</a></li>
  <li><a href="http://tympanus.net/Development/ProgressButtonStyles/">Progress Button Styles</a></li>
  <li><a href="http://codeseven.github.io/toastr/demo.html">toastr examples</a></li>
  <li><a href="http://highcharttable.org/">jQuery HighchartTable plugin</a></li>
  <li><a href="http://nth-test.com/">NTH-TEST</a>, nth-child and nth-of-type Tester</li>
  <li><a href="http://responsivedesign.is/articles/the-printer-is-a-device-too!">The printer is a device too!</a></li>
  <li><a href="http://docs.emmet.io/cheat-sheet/">Emmet Cheat Sheet</a></li>
  <li><a href="http://www.kimonolabs.com/">kimono</a>, Turn websites into structured APIs from your browser in seconds</li>
  <li><a href="http://shapecatcher.com/">Shapecatcher</a>, Draw the Unicode character you want!</li>
  <li><a href="http://www.csstrashman.com/">CSS Trashman</a></li>
  <li><a href="http://css2sass.heroku.com/">css2sass</a>, Convert CSS Snippets to Syntactically Awesome StyleSheets code</li>
  <li><a href="http://gradientfinder.com/">GradientFinder</a>, Convert your Images into CSS Gradients</li>
  <li><a href="http://dochub.io/#css/">DocHub</a>, Instant Documentation Search</li>
  <li><a href="http://jsbeautifier.org/">Online JavaScript beautifier</a></li>
  <li><a href="http://hackertyper.net/">‎hackertyper.net</a></li>
  <li><a href="http://resizemybrowser.com/">resizeMyBrowser</a></li>
  <li><a href="http://mergely.com/editor">Mergely</a>, Diff online, merge documents</li>
  <li><a href="http://entitifier.sambowler.com/">Entitifier</a>, Convert obscure characters to the proper HTML entities</li>
  <li><a href="http://htmlkit.com/services/cssposter/">HTMLKit.com CSS Poster</a></li>
  <li><a href="http://www.css3factory.com/linear-gradients/">CSS Gradient Generator</a></li>
  <li><a href="http://colorblendy.com/">ColorBlendy</a>, Blend colors with different modes like multiply, overlay, dodge.</li>
  <li><a href="http://primarycss.com/">Primary CSS</a></li>
  <li><a href="http://scriptsrc.net/">jQuery google api and other google hosted javascript libraries</a></li>
  <li><a href="http://customelements.io/">Custom Elements</a>, A Web Components Gallery for Modern Web Apps</li>
  <li><a href="http://filterfactory.mobi/">FilterFactory</a></li>
  <li><a href="http://tools.medialab.sciences-po.fr/iwanthue/">iWantHue</a></li>
  <li><a href="http://clippingmagic.com/">Clipping Magic</a>, Easily Remove Image Backgrounds Online</li>
  <li><a href="http://colourco.de/">colourcode</a>, find your colour scheme</li>
  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AiN0QfBTPpOCdDFjWlM0eU1ra21XanZkekxGbjA2WWc#gid=0">Styleguide &amp; Boilerplate Patterns</a></li>
  <li><a href="http://html.fwpolice.com/css/">CSS Beautifier</a></li>
  <li><a href="http://webcolourdata.com/">Colours</a></li>
  <li><a href="http://copypastecharacter.com/">CopyPasteCharacter</a></li>
  <li><a href="https://github.com/audreyr/favicon-cheat-sheet">favicon-cheat-sheet</a></li>
  <li><a href="http://extractcss.com/">extractCSS</a>, Online CSS Extractor</li>
  <li><a href="http://fontastic.me/">Free Icon Font Generator</a>, Create your Icon Font in seconds with 6000 ready to use Vector Icons</li>
  <li><a href="http://welcomemat.co/">WelcomeMat.co</a></li>
  <li><a href="http://www.grumpicon.com/">Grumpicon</a>, A Web app for the Grunticon workflow</li>
  <li><a href="http://dpi.lv/">DPI love</a>, Easily find the DPI/PPI of any screen</li>
  <li><a href="http://screensiz.es/phone">Screen Sizes</a></li>
  <li><a href="http://newstoebook.com">RSS feed to ebook</a></li>
  <li><a href="http://www.notehub.org">NoteHub</a>, Free Pastebin for One-Off Markdown Publishing</li>
  <li><a href="http://www.browsersupport.net/CSS/">Browser Support</a>, CSS Properties, Selectors, @ rules, Values, Property/Value Pairs and Media features</li>
  <li><a href="http://fronteed.com/iCheck/#features">Checkboxes and radio buttons customization plugin</a></li>
  <li><a href="http://unicode.johnholtripley.co.uk/">Unify</a>, Unicode support on browsers and devices</li>
  <li><a href="http://easings.net/">Easing Functions Cheat Sheet</a></li>
  <li><a href="https://docs.google.com/spreadsheet/lv?key=0AoUAJWmYgaHHdHZZWWpPQkx4eHpBaUxna3dyMGkzLUE&amp;pli=1">Device Viewport Widths</a></li>
  <li><a href="http://www.lavishbootstrap.com/">Lavish</a>, Generate your own Bootstrap color scheme</li>
  <li><a href="http://kanduvisla.github.io/httool/">.htTool</a></li>
  <li><a href="http://makeappicon.com/#">Makeappicon </a>Generate app icons of all sizes in a click!</li>
  <li><a href="http://qrafti.com/">Qrafti</a>, The simple, powerful and free QR code generator.</li>
  <li><a href="http://browserhacks.com/">Browserhacks</a></li>
  <li><a href="http://dev.bowdenweb.com/a/css/media-queries-boilerplate.css">‎media-queries-boilerplate.css</a></li>
  <li><a href="http://uibox.in">UIBox</a>, curated HTML,CSS, JS UI Component</li>
  <li><a href="https://blog.twitter.com/2014/open-sourcing-twitter-emoji-for-everyone">Twitter emoji</a></li>
  <li><a href="http://zencode.in/lining.js/">Lining.js</a> creates CSS down-to-the-line control</li>
  <li><a href="http://jex.im/regulex/">Regulex</a>JavaScript Regular Expression Visualizer</li>
  <li><a href="http://bennettfeely.com/clippy/">Clippy</a> — CSS clip-path maker</li>
  <li><a href="http://paymentfont.io/">PaymentFont</a></li>
  <li><a href="http://samherbert.net/svg-loaders/">SVG Loaders</a></li>
  <li><a href="http://photoswipe.com/">PhotoSwipe - JavaScript Image Gallery</a></li>
  <li><a href="http://sarasoueidan.com/articles/">SVG Articles by Sara Soueidan</a></li>
  <li><a href="http://sass-compatibility.github.io/">Sass Compatibility</a></li>
  <li><a href="http://tympanus.net/Development/ElasticSVGElements/index.html">Elastic SVG Elements</a></li>
  <li><a href="http://libscore.com/#*">Libscore</a></li>
  <li><a href="http://pleeease.io/play/">Pleeease Play</a> · Prefix CSS3, convert rem, CSS filters, pleeease.</li>