<li><a href="http://madebyvadim.tumblr.com/">Photoshoplr</a></li>
  <li><a href="http://madebyvadim.com/layrs/">Layrs</a>, free PS extension</li>
  <li><a href="http://hackingui.com/design/export-photoshop-layer-to-svg/">Free script</a>, Export your layers from photoshop to SVG in a single click!</li>
  <li><a href="http://niice.co/">Niice</a>, A search engine with taste.</li>
  <li><a href="http://iloveligatures.tumblr.com/">I Love Ligatures</a></li>
  <li><a href="http://lokeshdhakar.com/projects/color-thief/">Color Thief</a></li>
  <li><a href="http://thepatternlibrary.com/#wild-sea">The Pattern Library</a></li>
  <li><a href="http://generatedpaper.com/en/graphandgrid">Graph &amp; Grid @ generatedpaper</a>, free printable papers for the daily use</li>
  <li><a href="http://www.flickr.com/photos/bartsol/sets/72157627595663028/with/6115056022/">The Bart&amp;Co.</a>, Historic Clip Art Collection</li>
  <li><a href="http://tiff.herokuapp.com/">Tiff</a>, a visual typeface diff tool.</li>
  <li><a href="http://paperkit.net/">Paperkit</a>, Printable graph paper template in PDF</li>
  <li><a href="http://retrovectors.com">Retro Vectors</a></li>
  <li><a href="http://sketchmine.co">Sketch App Sources</a></li>
  <li><a href="http://mapsdesign.tumblr.com">Beautiful Maps</a></li>
  <li><a href="http://hudsandguis.com">Huds and Guis</a></li>
  <li><a href="http://quasimondo.com/ZorroSVG/">ZorroSVG</a> - Put a Mask on it</li>
  <li><a href="http://blog.invisionapp.com/7-tips-for-designing-awesome-gifs/">7 tips for designing awesome animated GIFs</a></li>
 <li> <a href="http://glench.com/hash/">i'm sorry</a></li>
 <li><a href="http://ai2html.org/">ai2html</a></li>
 <li><a href="http://sarasoueidan.com/tools/circulus/">CIRCULUS.SVG: The SVG Circular Menu Generator</a></li>
 <li><a href="https://github.com/MengTo/AppStoreSketch">MengTo/AppStoreSketch</a></li>
 <li><a href="https://launchkit.io/screenshots">App Store Screenshot Builder</a></li>

