<li><a href="http://backgrounds.cm/">Bulletproof background images</a></li>
  <li><a href="https://github.com/leemunroe/html-email-template">html-email-template</a></li>
  <li><a href="http://putsmail.com/">PutsMail</a><br>It’s a mail test tool to test your mails before sending them</li>
  <li><a href="https://beefree.io/index.aspx">BeeFree</a><br>Free email editor to build responsive design messages</li>
  <li><a href="https://chrome.google.com/webstore/detail/uglyemail/ldgiafaliifpknmgofiifianlnbgflgj">UglyEmail</a></li>
  <li><a href="http://responsiveemailresources.com/">Responsive Email Resources</a></li>
  <li><a href="http://litmus.com/">Litmus</a><br>Email Testing and Email Marketing Analytics</li>
  <li><a href="http://glennsmith.me/email/framework/">Email Framework</a></li>
<li><a href="http://seesparkbox.com/foundry/email_lab_a_starter_kit_for_html_emails">Email Lab</a><br>A Starter Kit for HTML Emails</li>
<li><a href="http://www.leemunroe.com/building-html-email/">Things I've Learned About Building &amp; Coding HTML Email Templates</a>
<li><a href="http://lifehacker.com/this-template-makes-introduction-emails-easier-1716092031">This Template Makes Introduction Emails Easier</a></li>
