<li><a href="http://backgrounds.cm/">Bulletproof background images</a></li>
  <li><a href="https://github.com/leemunroe/html-email-template">html-email-template</a></li>
  <li><a href="http://putsmail.com/">PutsMail</a>, It’s a mail test tool to test your mails before sending them</li>
  <li><a href="https://beefree.io/index.aspx">BeeFree</a>, Free email editor to build responsive design messages</li>
  <li><a href="https://chrome.google.com/webstore/detail/uglyemail/ldgiafaliifpknmgofiifianlnbgflgj">UglyEmail - Chrome Web Store</a></li>
  <li><a href="http://responsiveemailresources.com/">Responsive Email Resources</a></li>
  <li><a href="http://litmus.com/">Litmus</a>, Email Testing and Email Marketing Analytics</li>
  <li><a href="http://glennsmith.me/email/framework/">Email Framework - Version 1.0 Beta</a></li>
<li><a href="http://seesparkbox.com/foundry/email_lab_a_starter_kit_for_html_emails">Email Lab</a>: A Starter Kit for HTML Emails</li>
