<li><a href="http://sidebar.io">Sidebar.io</a></li>
<li><a href="http://thenews.im/">News 2</a></li>
<!--   <li><a href="http://newswordy.com">Newswordy</a></li> -->
<!--   <li><a href="http://news.layervault.com">Designer News</a></li> -->
<!--   <li><a href="https://ello.co/friends">Ello</a></li> -->
  <li><a href="http://typographicposters.com">Typographic Posters</a></li>
  <li><a href="http://feedly.com/#latest">Feedly</a></li>
    <li><a href="https://www.pinterest.com">Pinterest</a></li>
<!--   <li><a href="http://mojotech.com/shots">Dribble Scroll</a></li> -->
<!--   <li><a href="https://twitter.com/nonlinear/lists/buddies">Twitter Buddies</a></li> -->


