<li><a href="http://twocents.lifehacker.com/how-to-build-an-easy-beginner-set-and-forget-investm-1686878594">How to Build an Easy, Beginner “Set and Forget” Investment Portfoli</a></li>
<li><a href="http://lifehacker.com/jobhero-organizes-your-job-hunt-reminds-you-to-follow-1692336325">JobHero Organizes Your Job Hunt, Reminds You to Follow Up</a></li>
<li><a href="http://twocents.lifehacker.com/effectively-negotiate-your-bills-with-the-silent-treatm-1691608228">Effectively Negotiate Your Bills With the Silent Treatment</a></li>
<li><a href="http://lifehacker.com/negotiate-a-lower-credit-card-apr-with-this-script-1690542594">Negotiate a Lower Credit Card APR with This Script</a></li>
<li><a href="http://lifehacker.com/how-to-navigate-the-home-buying-process-when-you-re-sel-1704362242">How to Navigate the Home Buying Process When You’re Self-Employed</a></li>
<li><a href="http://lifehacker.com/wisebanyan-creates-and-manages-investment-portfolios-fo-1717743755">WiseBanyan Creates and Manages Investment Portfolios for You, for Free</a></li>
