<li><a href="http://lifehacker.com/my-never-ending-search-for-comfortable-in-ear-headphone-1679696172">My Never-Ending Search for Comfortable In-Ear Headphones</a></li>
<li><a href="http://lifehacker.com/5774324/how-to-get-more-from-your-home-theater-without-paying-a-dime">How to Get More From Your Home Theater Without Paying a Dime</a></li>
<li><a href="http://www.rootsimple.com/2015/01/ghee-for-the-skin/">Ghee for the skin | Root Simple</a></li>
<li><a href="http://lifehacker.com/dust-proof-your-home-with-a-diy-fabric-softener-and-wat-1682438375">Dust-Proof Your Home With a DIY Fabric Softener and Water Solution</a></li>
