<li><a href="http://www.coroflot.com/jobs#location=New%20York,%20NY&specialties=15">Coroflot</a></li>
<li><a href="http://weeklydesignjobs.com">WDJ</a></li>
<li>LinkedIn
<p><a href="https://www.linkedin.com/job/ui-designer-jobs-new-york-ny/?trk=jserp_search_button_execute">UI</a>, <a href="https://www.linkedin.com/job/interface-designer-jobs-new-york-ny/?trk=jserp_search_button_execute">Interface</a></p></li>
<li>GlassDoor
  <p><a href="http://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=&sc.keyword=ui+designer&locT=C&locId=1132348">UI</a>, <a href="http://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=&sc.keyword=interface+designer&locT=C&locId=1132348">Interface</a></p></li>
<li><a href="https://dribbble.com/jobs?utf8=✓&location=New+York">Dribble</a></li>
<li><a href="http://designjobs.aiga.org/#keywords=Interaction%20Designer&location=New%20York,%20NY&job_levels=4,3,6">AIGA</a></li>
<li><a href="https://source.jobvite.com/js/jobseeker/applications.html?ticket=7C31268FEA7B0A0A2E92E05ED42BC8863D90A265F9216B93CD00D7CB55E1C7EC&&#/list">JobVite</a></li>
