<li><a href="http://www.instantstreetview.com/">Instant Google Street View</a></li>
  <li><a href="http://winstonwolf.pl/clickable-maps/europe.html">Europe</a>, CSS + jQuery clickable map</li>
  <li><a href="http://www.webiconset.com/map-icons/">Map Icons Designer</a>, Google Map Icons, Location Pins, Location Markers, POI, Map Application Design Kit</li>
  <li><a href="http://intridea.github.io/stately/">Stately</a>, The simple map font</li>
  <li><a href="http://maps.stamen.com/#terrain/12/37.7706/-122.3782">Stamen Maps</a></li>
  <li><a href="http://osvaldas.info/lazy-loading-google-maps">Lazy-loading Google Maps</a></li>