<li><a href="http://facebook.github.io/origami/">Origami</a>, Design prototyping with Quartz Composer</li>
  <li><a href="https://redpen.io">Red Pen</a>, Effing fast feedback</li>
  <li><a href="http://uinames.com/">uinames.com</a></li>
  <li><a href="http://randomuser.me/">Random User Generator</a></li>
  <li><a href="https://usabilityhub.com/">Five Second Test</a>, Click Test and Nav Flow</li>
  <li><a href="http://mockuphone.com/">MockUPhone</a>, One Click to Wrap App Screenshots in Device Mockup!</li>
  <li><a href="http://powwowapp.net/">PowWow</a>, Making User Research Scheduling Easy</li>
  <li><a href="http://userium.com/">Usability checklist</a>, Catch common usability problems before user testing.</li>
  <li><a href="http://uifaces.com/">User Interfaces</a></li>
  <li><a href="http://www.docracy.com/">Docracy</a>, Free Legal Documents</li>
  <li><a href="http://useronboard.com">User Onboarding</a></li>