<li><a href="http://facebook.github.io/origami/">Origami</a><br>Design prototyping with Quartz Composer</li>
  <li><a href="https://redpen.io">Red Pen</a><br>Effing fast feedback</li>
  <li><a href="http://uinames.com/">uinames.com</a></li>
  <li><a href="http://randomuser.me/">Random User Generator</a></li>
  <li><a href="https://usabilityhub.com/">Five Second Test</a><br>Click Test and Nav Flow</li>
  <li><a href="http://mockuphone.com/">MockUPhone</a><br>One Click to Wrap App Screenshots in Device Mockup!</li>
  <li><a href="http://powwowapp.net/">PowWow</a><br>Making User Research Scheduling Easy</li>
  <li><a href="http://userium.com/">Usability checklist</a><br>Catch common usability problems before user testing.</li>
  <li><a href="http://uifaces.com/">User Interfaces</a></li>
  <li><a href="http://www.docracy.com/">Docracy</a><br>Free Legal Documents</li>
  <li><a href="http://useronboard.com">User Onboarding</a></li>
  <li><a href="http://www.cooper.com/prototyping-tools">Prototyping Tools | Cooper</a></li>
  <li><a href="http://lukejamestaylor.com/portfolio/css-devices/">CSS Devices</a><br>Simple pure CSS iOS devices for mockups</li>
  <li><a href="https://itunes.apple.com/us/app/gifgrabber/id668208984?mt=12">GifGrabber</a></li>
  <li><a href="https://www.mockable.io/?ref=producthunt">Mockable</a><br>Quickly create REST and SOAP mocks</li>
  <li><a href="https://github.com/mariuszostrowski/wireframingbrush">mariuszostrowski/wireframingbrush</a></li>
