<li><a href="http://dangrover.com/blog/2014/12/01/chinese-mobile-app-ui-trends.html">Chinese Mobile App UI Trends</a></li>
  <li><a href="http://www.michaelvillar.com/motion">Motion experiments</a></li>
  <li><a href="http://wonderfulfeedback.com/client/">Feedback Template</a></li>
  <li><a href="http://uxmas.com/2014/7-things-i-wish-everyone-knew-about-interaction-design">7 Things I Wish Everyone Knew About Interaction Design</a></li>
  <li><a href="http://uxrecipe.github.io">UX Recipe</a></li>
