<li><a href="http://dangrover.com/blog/2014/12/01/chinese-mobile-app-ui-trends.html">Chinese Mobile App UI Trends</a></li>
  <li><a href="http://www.michaelvillar.com/motion">Motion experiments</a></li>
  <li><a href="http://wonderfulfeedback.com/client/">Feedback Template</a></li>
  <li><a href="http://uxmas.com/2014/7-things-i-wish-everyone-knew-about-interaction-design">7 Things I Wish Everyone Knew About Interaction Design</a></li>
  <li><a href="http://uxrecipe.github.io">UX Recipe</a></li>
  <li><a href="http://uxchecklist.github.io/">UX Project Checklist</a></li>
  <li><a href="https://codeascraft.com/2015/02/02/transitioning-to-scss-at-scale/">Transitioning to SCSS at Scale</a></li>
  <li><a href="http://lifehacker.com/yourbrowser-is-shares-your-browser-and-computer-info-by-1691305385">Yourbrowser.is Shares Your Browser and Computer Info by Email</a></li>
  <li><a href="https://webdesignquote.beewits.com/">Web Design Quotation Generator</a></li>
  <li><a href="https://hbr.org/2015/03/a-checklist-for-planning-your-next-big-meeting">A Checklist for Planning Your Next Big Meeting - HBR</a></li>
  <li><a href="http://lifehacker.com/yourbrowser-is-shares-your-browser-and-computer-info-by-1691305385">Yourbrowser.is Shares Your Browser and Computer Info by Email</a></li>
  <li><a href="https://news.layervault.com/stories/47742-ask-dn-where-do-you-get-participants-for-uxusability-research">Ask DN: Where do you get participants for UX/Usability Research? - Designer News</a></li>
