<li><a href="http://lifehacker.com/ask-for-cash-instead-of-a-voucher-when-youre-bumped-fr-494629829">Ask for Cash Instead of a Voucher When You're Bumped from a Flight</a></li>
<li><a href="https://www.roomertravel.com/">Roomer</a> - Sell Hotel Reservation, Buy Cancelled Hotel Rooms</li>
<li><a href="http://lifehacker.com/organize-and-share-your-vacation-with-this-travel-plann-1684919711">Organize and Share Your Vacation with This Travel Planning Spreadsheet</a></li>
<li><a href="http://lifehacker.com/book-cheap-fares-you-find-on-ita-matrix-with-hipmunk-1688454739">Book Cheap Fares You Find on ITA Matrix with Hipmunk</a></li>
