{% extends "layout.html" %}
{% block project %}canvas{% endblock %}
{% block content %}
<section class="header">
  <div class="gradient"></div>
  <div class="title">
    <h3>{{project.title}}/</h3>
    <br>
    <h1>canvas</h1>
  </div>
  <div class="description">
    <p>A powerful gulp suite for rapid prototyping.</p>
    <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Requirements" class="btn">View Requirements</a>
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Installation" class="btn">Installation and Usage</a>
    </div>
  </div>
</section>
<section>
  <div class="title">
    <h1>Rapid Prototyping</h1>
  </div>
  <div class="description">
    <h2>Nunjucks</h2>
    <p>A powerful templating language with templates, pages, partials, loops and macros.</p>
    <div class="actions">
      <a target="wiki" href="https://mozilla.github.io/nunjucks/templating.html" class="btn">Official Mozilla Nunjucks Page</a>
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/nunjucks" class="btn">View Documentation</a>
    </div>
    <h2>Browsersync</h2>
    <p>Automatically reloads page if html or json files are edited, or injects CSS changes if sass files change.</p>
    <h2>Github pages</h2>
    <p>Publishes distribution folder on github, automatically.</p>
    <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/GHpages" class="btn">View Documentation</a>
      </div>
    <h2>Frameworks</h2>
    <p>Bootstrap, if you want. Semantic UI, if that's your cup of tea. No framework if you want too.</p>
    <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Frameworks" class="btn">View Documentation</a>
      </div>
      <h2>Snippets</h2>
      <p>All snippets you need for Sublime Text. Why remember all syntax when you can access it with one word?</p>
      <p>By learning snippets you can create prototypes faster.</p>
      <div class="actions">
        <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Snippets" class="btn">View Documentation</a>
      </div>
      <h2>SVG</h2>
      <h2>Data</h2>
    </div>
  </section>
  <section>
    <div class="title">
      <h1>Industry Standard Tools</h1>
    </div>
    <div class="description">
     <h2>Modernizr (and Detectizr)</h2>
     <h2>Favicons</h2>
     <h2>Font-awesome</h2>
     <h2>Chosen</h2>
     <h2>Flexslider</h2>
     <h2>Clipboard</h2>
   </div>
 </section>
 <section>
  <div class="title">
    <h1>Useful CSS Helpers</h1>
  </div>
  <div class="description">
    <h2>Animate</h2>
    <p>Extending from <a href="https://daneden.github.io/animate.css/">Animate.css</a> framework, all mixins you need for animation and transition, right out of the box.</p>
    <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Animate" class="btn">View Documentation</a>
    </div>
    <h2>Uncss</h2>
    <h2>inline CSS</h2>
  </div>
</section>
<section>
  <div class="title">
    <h1>Fancy Helpers</h1>
  </div>
  <div class="description">
    <h2>Toggle</h2>
    <h2>Patterns</h2>
    <p>Useful vector patterns.</p>
    {% include "partials/patterns.html" %}
        <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Patterns" class="btn">View Documentation</a>
    </div>
    <h2>Filters</h2>
        {% include "partials/filters.html" %}
        <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Filters" class="btn">View Documentation</a>
    </div>
    <h2>Share</h2>
    <p>HTML-only share links for most social networks.</p>
         <div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Share" class="btn">View Documentation</a>
    </div>
    <h2>Loaders</h2>
{% include "partials/loaders.html" %}
<div class="actions">
      <a target="wiki" href="https://github.com/nonlinear/canvas/wiki/Loaders" class="btn">View Documentation</a>
    </div>
  </div>
</section>
<section>
  <div class="title">
    <h1>Extenders</h1>
  </div>
  <div class="description">
    <h2>Root</h2>
    <h2>Wordpress Themes</h2>
  </div>
</section>
{% endblock %}
