---
layout: default
title: "Design Resources"
permalink: /resources/
category: resources
description: Some useful resources I collected over the years
---
<hr>
<div class="grid three">
	<div>
		<h2>Everyday</h2>
		<ul>
			{% include bookmarks/everyday.html %}
		</ul>
	</div>
	<div>
		<h2>Social</h2>
		<ul>
			{% include bookmarks/social.html %}
		</ul>
	</div>

	<div>
		<h2>Design</h2>
		<ul>
			{% include bookmarks/design_daily.html %}
		</ul>
	</div>
</div>
<hr>

<h2>Coding Resources</h2>
<ul>
	{% include bookmarks/code.html %}
</ul>

<h2>Design Resources</h2>
<ul>
	{% include bookmarks/design.html %}
</ul>

<h2>Resources for Prototyping</h2>
<ul>
	{% include bookmarks/proto.html %}
</ul>

<h2>HTML Email Resources</h2>
<ul>
	{% include bookmarks/email.html %}
</ul>

<h2>Mapping Resources</h2>
<ul>
	{% include bookmarks/maps.html %}
</ul>

<h2>User Research Resources</h2>
<ul>
	{% include bookmarks/research.html %}
</ul>

<h2>Other Resource Lists</h2>
<ul>
	{% include bookmarks/resources.html %}
</ul>

<!-- <h2>Gigs</h2>
<ul>
	{% include bookmarks/jobs.html %}
</ul> -->

