---
layout: default
title: "Design Resources"
permalink: /resources/
categories: resources
description: Some useful resources I collected over the years.
---
<div class="grid four">
	<div class="cell">
		<h1>Everyday</h1>
		<ul>
			{% include bookmarks/everyday.html %}
		</ul>
	</div>
	<div class="cell">
		<h1>Social</h1>
		<ul>
			{% include bookmarks/social.html %}
		</ul>
	</div>

	<div class="cell">
		<h1>Design</h1>
		<ul>
			{% include bookmarks/design_daily.html %}
		</ul>
	</div>
		<div class="cell">
		<h1>Gigs</h1>
		<ul>{% include bookmarks/jobs.html %}</ul>
	</div>
</div>

<h1>Coding Resources</h1>
<ul>
	{% include bookmarks/code.html %}
</ul>

<h1>Design Resources</h1>
<ul>
	{% include bookmarks/design.html %}
</ul>

<h1>Resources for Prototyping</h1>
<ul>
	{% include bookmarks/proto.html %}
</ul>

<h1>HTML Email Resources</h1>
<ul>
	{% include bookmarks/email.html %}
</ul>

<h1>Mapping Resources</h1>
<ul>
	{% include bookmarks/maps.html %}
</ul>

<h1>User Research Resources</h1>
<ul>
	{% include bookmarks/research.html %}
</ul>

