---
layout: default
title: "Design and Coding Resources"
permalink: /resources/
categories: bookmarks list
description: Some useful resources I collected over the years.
tags: resource list link
image: 'resources'
---
<div class="grid three">
	<div class="cell">
		<h3>Everyday</h3>
<ol>
	{% include bookmarks/everyday.html %}
</ol>
</div>
	<div class="cell">
<h3>Social</h3>
<ol>
	{% include bookmarks/social.html %}
</ol>
</div>
	<div class="cell">
<h3>Design</h3>
<ol>
	{% include bookmarks/design_daily.html %}
</ol>
</div>
</div>

<h3>Coding Resources</h3>
<ol>
	{% include bookmarks/code.html %}
</ol>

<h3>Design Resources</h3>
<ol>
	{% include bookmarks/design.html %}
</ol>

<h3>Resources for Prototyping</h3>
<ol>
	{% include bookmarks/proto.html %}
</ol>

<h3>HTML Email Resources</h3>
<ol>
	{% include bookmarks/email.html %}
</ol>

<h3>Mapping Resources</h3>
<ol>
	{% include bookmarks/maps.html %}
</ol>

<h3>User Research Resources</h3>
<ol>
	{% include bookmarks/research.html %}
</ol>