---
layout: default
title: "Personal Resources"
permalink: /home/
category: resources
description: Some useful resources I collected over the years.
---
<div class="grid three">
  <div class="cell">
    <h1>Home</h1>
<ul>
  {% include bookmarks/home.html %}
</ul>
  </div>
   <div class="cell">
    <h1>Fashion</h1>
<ul>
  {% include bookmarks/fashion.html %}
</ul>
  </div>
  <div class="cell">
    <h1>Travel</h1>
<ul>
  {% include bookmarks/travel.html %}
</ul>
</div>

<!--   <div class="cell">
    <h1>Finances</h1>
<ul>
  {% include bookmarks/finances.html %}
</ul>
  </div> -->
</div>


