---
layout: default
title: "Personal Resources"
permalink: /home/
category: resources
description: non-work resources
---
<div class="grid three">
  <div class="cell">
    <h1>Home</h1>
<ul>
  {% include bookmarks/home.html %}
</ul>
  </div>
   <div class="cell">
    <h1>Fashion</h1>
<ul>
  {% include bookmarks/fashion.html %}
</ul>
  </div>
  <div class="cell">
    <h1>Travel</h1>
<ul>
  {% include bookmarks/travel.html %}
</ul>
</div>

<div class="cell">
    <h1>Finances</h1>
<ul>
  {% include bookmarks/finances.html %}
</ul>
    <h1>Video</h1>
<ul>
  {% include bookmarks/video.html %}
</ul>
  </div>
</div>


