.list {
    border-top: solid 1px $color-3;
}

.callout {
    color: $color-1;
    font-size: 18px;
    .border {
        border: solid 1px $color-1;
        z-index: 1000;
        @include shadow(2px 2px 0px rgba(255, 255, 255, 1));
        ul {
            display: none;
            @include reset(list);
            font-size: 10px;
            @include reset;
            font-family: $font-title-2;
            float: right;
            top: -8px;
            right: -20px;
            .header & {
                background-image: url(../images/bg_ribbon_1.png);
            }
            .list & {
                background-image: url(../images/bg_ribbon_2.png);
            }
            background-repeat: repeat-y;
            background-position: right 0px;
            width: 60px;
            li {
                background-color: white;
                padding: 0px 3px;
                a {
                    display: block;
                    color: $color-1;
                    &:hover {
                        color: $color-2;
                    }
                }
                &:first-of-type {
                    &:before {
                        display: block;
                        position: absolute;
                        content: '';
                        margin-lefT: -12px;
                        background-image: url(../images/bg_ribbon_start.png);
                        @include size(9px, 15px);
                    }
                }
                &:not(:last-of-type) {
                    margin-bottom: 6px;
                }
                &:last-of-type {
                    background: none;
                    background-image: url(../images/bg_ribbon_end.png);
                    background-repeat: no-repeat;
                    background-position: right 0;
                    margin-bottom: 1px;
                }
            }
        }
    }
    .title {
        float: left;
        margin: 15px;
        margin-bottom: $gap-1;
        line-height: 37px;
        width: 70%;
        font-family: $font-title;
        text-transform: uppercase;
        @include shadow(2px 2px 0px rgba(255, 255, 255, 1), text);
        font-size: 45px;
        heighT: 70px;
        overflow: hidden;
    }
    .description {
        float: left;
        margin: 0 $gap-2;
        overflow: hidden;
    }
    .list & {
        margin-bottom: -0.323em;
        padding: $gap-3;
        display: inline-block;
        width: (100% / 3);
        @media screen and (max-width: $ipad-min) {
            width: 50%;
        }
        @media screen and (max-width: $iphone5-max) {
            width: 100%;
        }
        @include unless(touch) {
            .border, .description {
                @include trans;
                @include translate(-20, 0);
                @include opacity(0);
            }
            &:hover {
                .border, .description {
                    @include translate(0, 0);
                    @include opacity(100);
                }
                background-position: 30px 0px;
            }
        }

        .border {
            height: 100px;
            ul {
                position: absolute;
            }
        }
        .description {
            height: 80px;
        }
        &:hover {
            color: $color-1;
            text-decoration: none;
        }
    }
    .header & {
        padding: $gap-3 0;
        height: 160px;
        @media screen and (max-width: $ipad-max) {
            padding: $gap-3;
        }
        .border {
            height: 100px;
            ul {
                position: relative;
            }
        }
        .title {
            width: 50%;
        }
        .description {
            height: 80px;
        }
    }
}

.article {
    background-color: #fff;
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: ($font-gap * 1.5);
        @media screen and (max-width: $ipad-max) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    a {
        border-bottom: dotted 1px $color-3;
        &:hover {
            text-decoration: none;
            border-bottom: solid 1px $color-3;
        }
    }
}

.header {
   @include pan;
}