
.hero {
    height: 440px;
    background-image: url(../images/eveready.png);
    margin-top: -20px;
    margin-bottom: -20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 340px 340px;
    background-size: 340px 340px;
    @include media(ipad, landscape) {
            -webkit-background-size: 300px 300px;
    background-size: 300px 300px;
    }

    @include trans;
    .description {
        font-family: $font-title;
        margin-top: 20px;
        text-transform: uppercase;
        color: $color-3;
        width: 230px;
        float: right;
        a {
            color: $color-3 !important;
        }
        p {
            margin: 0;
            padding: 15px 0;
            font-size: 50px;
            line-height: 45px !important;
            &:not(:first-of-type) {
                border-top: solid 1px $color-3;
            }
        }
    }
    @media screen and (max-width: $iphone5-max) {
        .description {
            p {
                padding: 10px 0;
                font-size: 40px;
                line-height: 40px !important;
            }
        }
        -webkit-background-size: 210px 210px;
        background-size: 210px 210px;
    }
    @include media(iphone5, portrait) {
         height: 420px;
        background-position: center 200px;
            -webkit-background-size: 220px 220px;
    background-size: 220px 220px;
        .description {
        margin-top: 0;
            float: none;
            width: 100%;
        }
    }
}

.social {
    a {
        height: 20px;
        width: 20px;
        @include box;
        background-color: $color-1;
        padding: 5px;
        @include radius(50%);
        i {
            color: black !important;
            font-size: 20px;
            line-height: 0;
        }
    }
}
