// brand variables

// font variables

$font-title: dense
$font-text: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-mono: "Courier New", Courier, monospace
$base-font-size: 30px !default

// color variables

$color-bg: white
$color-text: black
$color-title: black
$color-link: grey
$color-link-hover: lighten($color-link, 20%)
$button: transparent
$button-hover: transparent
$button-border: white
$button-border-hover: white
$button-text: black
$button-text-hover: white
$color-select: #b3d4fc
$color-accent: $color-select

// function variables

$prefixes: webkit moz ms o spec
$legacy_support_for_ie: false !default

// animation variables (only work when animation module is activated)

$animation-duration: 1s !default
$animation-function: ease !default
$animation-delay: 0.2s !default
$animation-count: 1 !default
$animation-fill: both !default
$animation-visibility: hidden !default

// codecode imports

@import base
@import typography
@import animation
@import forms
@import devices

// per project imports

@import category

// @import 'bgs'
@import layout
@import legend
@import flexslider


#panorama
    width: 600px
    height: 400px
    border: none
    margin-left: -20px

.scroll
    overflow-x: auto
    margin-left: -20px
    height: 93vh
    max-height: 690px
    img
        height: 90vh
        max-height: 667px
        +shadow(normal, 5px 5px 0px rgba(0, 0, 0, 0.05))
    td
        padding: 0 15px 10px 0
        &:last-of-type
            padding-right: 0
table.lists
    td
        vertical-align: top
    td:nth-of-type(2)
        padding-left: 50px
    h4
        white-space: nowrap

img.slide
    width: 100%
    margin-left: -20px
    margin-bottom: 20px

// .proto-phone.flexslider
//     +clearfix
//     height: 667px
//     width: 375px
//     margin: 15px auto 30px auto !important
//     +shadow(normal, 5px 5px 0px rgba(0, 0, 0, 0.05))
//     +transition
//     li, a
//         +shadow(normal, none !important)
//     &:hover
//         +shadow(normal, 5px 5px 0px rgba(0, 0, 0, 0.1))
//     .flex-prev
//         display: none
//     .flex-next
//         width: 100%
//         background: none
//         height: 100%
//         top: 0
//         +translate(10, 20)
//         +hide-text
//         &:before, &:after
//             +hide-text
//     .flex-control-nav
//         display: none
