@import "vendors/bootstrap";

/*@import "extends";*/
@import "base/mixins";
@import "base/animation";
@import "base";
@import "base/bootstrap";

body {
	@include gradient(#C9FFBF, #FFAFBD);
	margin-top: 60px;
		@media only screen and (max-width : $device) { 
	margin-top:70px;
	}
	font-weight: 300;
	font-style: normal;	
}
span {
	padding: 3px 0;
	line-height: 24px;
}
.container {
	max-width: 600px;
}
ul {
	@include reset(list);
}
header.header {
	background-color: #fff;
	padding: $g2 0;
	top: 0px;
	border-bottom: dashed 1px #8C5C5C;
	position: fixed;
	width: 100%;
	.container {
		@include grid;
	}
}
a.logo.cell {
	border: dashed 1px red !important;
	display: block;
	margin: 0px;
	padding: 0px;
	border: none !important;
	font-size: 30px;
	padding: 0;
}
footer.footer {
	background-color: #fff;
	border-top: dashed 1px #8C5C5C;
	padding: $g2 0;
	margin-top: $g2;
	height: 40px;

}
a {
	color: $c2;
	border-bottom: dashed 1px $c2;
	&:hover {
		text-decoration: none;
		color: $c1;
		border-bottom: solid 1px $c1;

	}
}

nav ul {
	display: block;
	text-align: right;
	@media only screen and (max-width : $device) { 
		text-align: left;
	}
	
	li {
		display: inline-block;
		&:not(:first-of-type):before {
			content: "/ ";
			color: black;
		}
	}
}

a[data-toggle="collapse"] {
	display: block;
	padding: $g1 0;
	font-size: 20px;
	border-bottom: none;
	border-top: solid 1px $c2;
}
.panel {
	.grid {
		@include grid(3);
	}
}
.in {
	margin-bottom: $g2;
}
.avatar {
	@include square(100px);
	text-align: center;
	margin-bottom: $g2;

	@media only screen and (min-width : ($device + 1)) { 
	margin-left: -25%;
}
	@include radius(50%);
}