<div class="flexslider">
  <ul class="slides filters">
  <li>
  <div class="filter filter-aden">
  <p class="code">filter-aden</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-inkwell">
  <p class="code">filter-inkwell</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-perpetua">
  <p class="code">filter-perpetua</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-reyes">
  <p class="code">filter-reyes</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-gingham">
  <p class="code">filter-gingham</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-toaster">
  <p class="code">filter-toaster</p>
   <img src="/assets/images/pass.png">
 </div>
  </li>
  <li>

  <div class="filter filter-walden">
  <p class="code">filter-walden</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-hudson">
  <p class="code">filter-hudson</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-earlybird">
  <p class="code">filter-earlybird</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-mayfair">
  <p class="code">filter-mayfair</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-lofi">
  <p class="code">filter-lofi</p>
   <img src="/assets/images/pass.png">
 </div>
 </li>
 <li>
 <div class="filter filter-1977">
  <p class="code">filter-1971</p>
   <img src="/assets/images/pass.png">
 </div>
</li>
<li>
  <div class="filter filter-brooklyn">
  <p class="code">filter-brooklyn</p>
    <img src="/assets/images/pass.png">
  </div>
  </li>
  <li>
  <div class="filter filter-xpro2">
  <p class="code">filter-xpro2</p>
   <img src="/assets/images/pass.png">
 </div>
 </li>
 <li>
 <div class="filter filter-nashville">
  <p class="code">filter-nashville</p>
  <img src="/assets/images/pass.png">
</div>
</li>
<li>
<div class="filter filter-lark">
<p class="code">filter-lark</p>
  <img src="/assets/images/pass.png">
</div>
</li>
<li>
<div class="filter filter-moon">
<p class="code">filter-moon</p>
  <img src="/assets/images/pass.png">
</div>
</li>
</ul>
</div>