 <div class="flexslider">
  <ul class="slides loaders">
    <li>
    <p class="code">loader01</p>
    <div class="loader loader01"></div>
    </li>
    <li>
    <p class="code">loader02</p>
    <div class="loader loader02"></div>
    </li>
    <li>
    <p class="code">loader03</p>
    <div class="loader loader03"></div>
    </li>
    <li>
    <p class="code">loader04</p>
    <div class="loader loader04"></div>
    </li>
    <li>
    <p class="code">loader05</p>
    <div class="loader loader05"></div>
    </li>
    <li>
    <p class="code">loader06</p>
    <div class="loader loader06"></div>
    </li>
  </ul>
  </div>