<!DOCTYPE html>
<html>

{% include head.html %}

<body class="bg-{% if page.category %}{{ page.category }}{% else %}home{% endif %}">

  {% if page.category %}
  <div class="home">
    <div class="container">
      <a href="{{ site.url }}"><h2>{{ site.title }}</h2></a>
    </div>
  </div>
  <div class="{{ page.category }} post">
    <div class="container">
      {% include share.html %}
      <h1>{{ page.title }}</h1>
      {{ content }}
      <hr>
      <div class="footer">
        <!-- <a href="#" class="btn">
          <i class="fa fa-plus"></i>
          more {{ page.category }}
        </a> -->
        {% include share.html %}
      </div>
    </div>
  </div>
  {% else %}
  <div class=" start home">
    <div class="container">
      <div class="icon logo">
        {% include icons/fold.svg %}
      </div>
      <h1>{{ site.title }}</h1>
      <!-- <h4>{{ site.description }}</h4> -->
      <a href="/about/"><h2>about</h2></a>
      <a href="/portfolio/"><h2>portfolio</h2></a>
    </div>
  </div>
  {% for post in paginator.posts %}
  <a href="{{ post.url }}" class="preview {{ post.category }}" >
    <div class="container">
      <h2>{{ post.title }}</h2>
      <p class="description">{{ post.description }}</p>
    </div>
  </a>
  {% endfor %}
  {% endif %}
{% include footer.html %}
</body>

</html>
